<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    Header set Cache-Control "max-age=84600, public"
</filesMatch>
<filesMatch ".(css|js)$">
    Header set Cache-Control "max-age=84600, public, no-cache"
</filesMatch>